.navList {
  display: flex;
  gap: 18px;
  margin-bottom: 16px;
}
.navLink {
  font-size: 20px;
  text-decoration: underline;
  color: rgb(2, 2, 80);
}
.navLink.active {
  color: red;
  text-decoration: none;
}
